body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
	font-family: "Times New Roman";
	border-style: ridge;
	border-color: red;
	border-width: 5px;
	border-spacing: 0px;
}

td{
	border-color: red;
	border-spacing: 0px;
	height: 25px;
	width: 25px;
	text-align: center;
}

td:hover{
background-color: LightBlue;
}